@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Purchases";
    List<MyPurchase> purchases = (List<MyPurchase>)ViewData["myPurchases"];

}

<div class="row" style="padding: 60px 25px 0px 25px;">
    @foreach (MyPurchase purchase in purchases)
    {
        <div class="col-sm-4" style="padding:30px">
            <div class="card text-center">
                <img class="card-img-top border" src=@purchase.Product.Image alt="Card image cap" width="250" height="200">
                <div class="card-body">
                    <h5 class="card-title">@purchase.Product.Name</h5>
                    <p class="card-text">@purchase.Product.Description</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>

        <div class="col-sm-8" style="padding-top:100px;padding-left:50px">
            <div class="row" style="padding:10px;">
                <div class="col-sm-3">
                    <b>Purchased On:</b>
                </div>
                <div class="col-sm-5">
                    @purchase.PurchaseDate.ToString("dd MMM yyyy")
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-sm-3">
                    <b>Quantity:</b>
                </div>
                <div class="col-sm-5">
                    @purchase.Qty
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-sm-3">
                    <b>Activation Code:</b>
                </div>
                <div class="col-sm-6">
                    @if (purchase.ActivationCodes.Count > 1)
                    {
                <select class="form-control" name="codes" onchange="copyTextToClipboard(this.value); this.style = 'background-color: lightgrey;'">
                    <option></option>
                    @foreach (ActivationCode ac in purchase.ActivationCodes)
                    {
                <option>@ac.Id</option>
}
                </select> }
            else
            {
                @foreach (ActivationCode ac in purchase.ActivationCodes)
                {
                <input type="hidden" id="@purchase.Product.Id" value="@ac.Id" />
                <span onclick="copyTextToClipboard('@ac.Id'); this.style = 'color: blue;';" onmouseover="this.style.cursor='pointer'">@ac.Id</span>
                }
            }
                    
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-6">
                    <b>Click code above to copy link</b>
                </div>
            </div>
        </div>
    }

</div>

