@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Purchases";
    List<MyPurchase> myPurchases = (List<MyPurchase>)ViewData["myPurchases"];

}

@*<div class="row" style="padding: 30px 25px 30px 25px">
        @foreach (MyPurchase purchase in purchases)
        {
            <div class="col-sm-4" style="padding:15px">
                <div class="card text-center">
                    <img class="card-img-top border" src=@purchase alt="Card image cap" width="250" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@purchase</h5>
                        <p class="card-text">@purchase</p>
                        <a href="#" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-8" style="padding:15px">
                <div class="card text-center">
                    <img class="card-img-top border" src=@purchase alt="Card image cap" width="250" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@purchase</h5>
                        <p class="card-text">@purchase</p>
                        <a href="#" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
        }
    </div>*@

@using (Html.BeginForm())
{
    <p>
        Find By Name: @Html.TextBox("searchStr")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("PurchaseDate", "Index", new { sortOrder = ViewBag.sortbyPurchaseDate })
        </th>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.sortbyId })
        </th>
        <th>
            Quantity
        </th>
        <th>ActivationCodeId</th>
    </tr>
    @foreach (team5_SC.Models.MyPurchase myPurchase in myPurchases)
    {
        <tr>
            <td>
                @myPurchase.PurchaseDate
            </td>
            <td>
                @myPurchase.Id
            </td>
            <td>
                @myPurchase.Qty
            </td>
            <td>
            </td>
        </tr>
    }
</table>
